{% extends 'task/base.html' %}
{% block title %}CreateTask{% endblock %}
{% block overview_active %}active{% endblock %}
{% block body %}

        <div class="container">

                    <h3>Add a New Task</h3><br>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form action="" role="form"  method="post">
                    <div class="form-group"  >
                        {% csrf_token %}
                        {% include 'task/form_template.html' %}
                        <div class="form-group">
                            <div class="container">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                    </form>

            </div>


{% endblock %}
