<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Task: {{ task.title }}</title>

    <!--If not specified others, the bootstrap elements taken from https://www.w3schools.com/bootstrap/default.asp -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% if task %}
<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{%url 'task:index' %}">Task Cracker</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{%url 'task:index' %}">Overview</a></li>
            <li><a href="{%url 'task:about' %}">Contact Us</a></li>
            <li><a href="{% url 'task:logout_user' %}">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container" name="main_container">
    <div class="row">
        <div class="col-sm-12">

            <!-- Page header -->
            <div class="page-header">
                <h1>Task Detail: {{ task.title }}</h1>
            </div>

            <!-- Form group -->
            <div class="form-group">
                <!-- Task title - small input field-->
                <label for="assignee">Assignee:</label>
                <div class="well well-sm" id="assignee">{{ task.assignee }}</div>
                <br>
                <label for="title">Task title: </label>
                <div class="well well-sm" id="title">{{ task.title }}</div>
                <br>
                <!-- Task description - wide input field -->
                <label for="comment">Description:</label>
                <div class="well well-lg" id="comment">{{ task.description }}</div>
                <br>
                <!-- Set progress -->
                <label class="control-label" for="progress">Progress:</label>
                <div class="well well-sm" id="progress">{{ task.title }}</div>
                <br>
                <!-- Due date -->
                <label class="control-label" for="date">Due date:</label>
                <div class="well well-sm" id="date">{{ task.deadline }}</div>
                </div>
            <br><br>

            <!-- Got it! button -->
            <a href="{%url 'task:index' %}" class="btn btn-info btn-lg">Got it!</a>
            <br><br>
        </div>
    </div>
</div>

</body>
{% endif %}
</html>