
{% extends 'task/base.html' %}
{% block body %}
    <div class="container">

        <div class="page-header">
                <h2>Edit Task : {{ task.title }}</h2>
            </div>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="" role="form"  method="post">
            <div class="form-group"  >
                {% csrf_token %}
                {% include 'task/form_template.html' %}
                <div class="form-group">
                    <div class="container">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="{%url 'task:index' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
