<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UpdatedTask</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{%url 'task:index' %}">Task Cracker</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{%url 'task:index' %}">Overview</a></li>
                <li><a href="{%url 'task:about' %}">Contact Us</a></li>
                <li><a href="{% url 'task:logout_user' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="alert alert-success">
        <strong>Yeah!</strong> You have just updated task {{ task.title }} successfully
        </div>
        <br><br>
        <!-- Got it! button -->
        <a href="{%url 'task:index' %}" class="btn btn-info">Got it!</a>
        <br><br>
    </div>
</body>
</html>